<div>
    <p>Hello, {{$ctrl.name}}!</p>

    <div>
        Search: <input ng-model="$ctrl.query" />
    </div>

    <div>
        The query is:  {{$ctrl.query}}
    </div>

    <div>
        Sort by:
        <select ng-model="$ctrl.orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
    </div>

    <div>
        The sort order is:   {{$ctrl.orderProp}}
    </div>

    <div>
    <div>   The results are:</div>
    <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query
                                | orderBy:$ctrl.orderProp" class="thumbnail">
            <a href="#!/phones/{{phone.id}}" class="thumb">
                <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
            </a>
            <span><a href="#!/phones/{{phone.id}}">{{phone.name}}</a></span>
            <p>{{phone.snippet}}</p>
            </li>
        </ul>

    <p>Total number of phones: {{$ctrl.phones.length}}</p>
    </div>
</div>